acquisition/*_scrape.log
acquisition/__pycache__/
__pycache__/
*.pyc
.DS_Store
acquisition/*_output/.*_source.json
acquisition/*_output/.*_source.zip
webapp/node_modules/
webapp/dist/
webapp/.env
webapp/.env.*
